@page "/additions"

<div class="container-fluid">
  <h1>Additionne la table des <span class="badge badge-secondary">@MandatoryValue</span> :</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-auto">
        <h3 for="result"><samp>@Formula</samp></h3>
      </div>
      <div class="col-sm-2">
        <input type="number" id="result" class="form-control mb-2" @bind="GivenValue" />
      </div>
      <div class="col-sm-auto">
        <button class="btn btn-primary mb-2" @onclick="Check">Valider</button>
      </div>
    </div>

    <div id="result" class="@(GivenValue.HasValue?string.Empty:"collapse")">
      <div class="row">
        <div class="col-sm-auto">
          <div class="alert @(Result?"alert-success":"alert-warning")" role="alert">
            <p>@(Result ? "Super, c'est juste !" : $"Refais ton calcul, la réponse est {Operation.DoOperation()} !")</p>
          </div>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-primary mb-2" @onclick="Next">Continuer</button>
        </div>
      </div>
    </div>
  </div>
</div>
@code {
  private int MandatoryValue { get; set; }
  private int? GivenValue { get; set; }
  private bool? _result = false;

  [Parameter]
  public bool Result
  {
    get
    {
      return _result.HasValue && _result.Value;
    }
    set
    {
      _result = value;
    }
  }

  public string Formula
  {
    get
    {
      return (Operation != null) ? $"{Operation.LeftOperand} {Operation.OperatorSymbol} {Operation.RightOperand} = " : string.Empty;
    }
  }
  private IBinaryOperation<int> Operation { get; set; }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    if (Operation == null || _result.HasValue && _result.Value)
    {
      Init();
    }
  }

  private void Init()
  {
    GivenValue = null;
    _result = null;
    MandatoryValue = new Random().Next(1, 10);
    Operation = ExerciseOnOperation.GenerateFormulaForMandatoryOperand<AddOperation<int>>(MandatoryValue);

  }

  private void Check()
  {
    _result = GivenValue.HasValue && Operation.DoOperation() == GivenValue.Value;
  }

  private void Next()
  {
    Init();
  }
}
