@page "/substractions"

<div class="container-fluid">
  <h2>Soustrais <span class="badge badge-secondary">@MandatoryValue</span> :</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-auto">
        <h3 for="result"><samp>@Formula</samp></h3>
      </div>
      <div class="col-sm-2">
        <input type="number" id="result" class="form-control mb-2" @bind="GivenValue" />
      </div>
      <div class="col-sm-auto">
        <button class="btn btn-primary mb-2">Valider</button>
      </div>
    </div>

    <div id="result" class="@(GivenValue.HasValue?string.Empty:"collapse")">
      <div class="row">
        <div class="col-sm-auto">
          <div class="alert @(Result.HasValue && Result.Value?"alert-success":"alert-warning")" role="alert">
            <p>@(Result.HasValue && Result.Value ? "Super, c'est juste !" : $"Refais ton calcul, la réponse est {Operation.DoOperation()} !")</p>
          </div>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-primary mb-2" @onclick="Next">Continuer</button>
        </div>
      </div>
    </div>
  </div>
</div>
@code {
  private int MandatoryValue { get; set; }
  private int? GivenValue { get; set; }
  private bool? _result = false;

  [Parameter]
  public bool? Result
  {
    get
    {
      _result = null;
      if (GivenValue.HasValue) _result = Operation.DoOperation() == GivenValue.Value;
      return _result;
    }
    set
    {
      _result = value;
    }
  }

  public string Formula
  {
    get
    {
      return (Operation != null) ? $"{Operation.LeftOperand} {Operation.OperatorSymbol} {Operation.RightOperand} = " : string.Empty;
    }
  }
  private IBinaryOperation<int> Operation { get; set; }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    Init();    
  }

  private void Init()
  {
    GivenValue = null;
    _result = null;
    MandatoryValue = new Random().Next(1, 10);
    Operation = ExerciseOnOperation.GenerateFormulaForMandatoryOperand<SubOperation<int>>(MandatoryValue, limitMinOtherValue: MandatoryValue, forceMandatoryPositionRight: true);

  }

  private void Next()
  {
    Init();
  }
}
